@*@page "/connectfour"*@
@page "/"
@using BlazorConnectFour.Data

<h1>Connect Four</h1>

@code
{
    static readonly Turn RedTurn = new Turn(PieceColor.Red, "🔴");
    static readonly Turn YellowTurn = new Turn(PieceColor.Yellow, "🟡");

    GameBoard game = new GameBoard();
    Turn currentTurn = RedTurn;

    private void PieceClicked(int x, int y)
    {
        if (game.Board[x, y].Color == PieceColor.Blank)
        {
            SetPiece(x, y);
            SwitchTurns();
        }
    }

    private void SetPiece(int x, int y)
    {
        var piece = game.Board[x, GetLowestUnOccupiedY(x, y)];
        piece.Color = currentTurn.Color;
    }

    private int GetLowestUnOccupiedY(int x, int y)
    {
        var lowest = y;
        while (y < GameBoard.Rows - 1)
        {
            if (game.Board[x, ++y].Color == PieceColor.Blank)
            {
                lowest = y;
            }
        }
        return lowest;
    }

    private void SwitchTurns()
    {
        if (currentTurn.Color == PieceColor.Red)
        {
            currentTurn = YellowTurn;
        }
        else
        {
            currentTurn = RedTurn;
        }
    }
}

<h2>@currentTurn.Emoji @currentTurn.Color's Turn!</h2>
<div class="board">
    @for (var i = 0; i < GameBoard.Cols; i++)
    {
        <div>
            @for (var j = 0; j < GameBoard.Rows; j++)
            {
                var x = i;
                var y = j;
                <div class="gamepiece @game.Board[i, j].Color.ToString().ToLower()" @onclick="@(() => PieceClicked(x, y))"></div>
            }
        </div>
    }
</div>